<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       <!-- 配置包扫描器 扫描@Controller注解的类 -->
       <context:component-scan base-package="com.wx.controller"/>
       <!-- 加载注解启动 -->
       <mvc:annotation-driven/>
<!--        <mvc:resources location="/js/" mapping="/js/**"/> -->
<!--        <mvc:resources location="/css/" mapping="/css/**"/> -->
<!--        <mvc:resources location="/build/" mapping="/build/**"/> -->
<!--        <mvc:resources location="/dist/" mapping="/dist/**"/> -->
<!--        <mvc:resources location="/docs/" mapping="/docs/**"/> -->
<!--        <mvc:resources location="/pages/" mapping="/pages/**"/> -->
<!--        <mvc:resources location="/plugins/" mapping="/plugins/**"/> -->
       <mvc:default-servlet-handler/>
       <!-- 配置视图解析器 -->
       <bean class = 
       		"org.springframework.web.servlet.view.InternalResourceViewResolver">
       		<property name="prefix" value = "/WEB-INF/jsp/"/>
       		<property name="suffix" value = ".jsp"/>		
       	</bean>
      <!-- 配置拦截器 -->
      <mvc:interceptors>
      	<!-- 使用bean直接定义在<mvc:interceptors>下面的拦截器将所有请求拦截 -->
      	<mvc:interceptor>
      	<mvc:mapping path="/**"/>
      		<bean class="com.wx.interceptor.LoginInterceptor"/>
      		
      	</mvc:interceptor>
      </mvc:interceptors>
</beans>